*.obj
*.exp
*.ilk
*.pdb
*.o
*.exe

*.user
build-STM32_DFU_Bootloader-Desktop_Qt_6_2_3_MinGW_64_bit-Debug
build-STM32_DFU_Bootloader-Desktop_Qt_6_2_3_MSVC2019_64bit-Debug
build-STM32_DFU_Bootloader-Desktop_Qt_6_2_3_MinGW_64_bit-Release
build-STM32_DFU_Bootloader-Desktop_Qt_6_2_3_MSVC2019_64bit-Release
